<!doctype html>
<html lang="en">

<head th:replace="~{common/header}">
</head>

<body>

	<div class="container">
		<div class="row" style="height: 30px;"></div>
		<div class="row" th:replace="~{common/banner}">
		</div>
		<div class="row" style="height: 20px;"></div>
		<div class="row" th:replace="~{common/nav::nav('store')}">
		</div>
		<div class="row" style="height: 20px;"></div>
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header">新建图书入库</div>
					<div class="card-body">
						<form id="dataForm" th:action="@{/store/save}">
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">图书：</label>
								<button type="button" th:disabled="${readonly}" class="btn btn-primary"
									th:onclick="|window.open('@{/book/choose}', '_blank', 'width=700,height=500,resizable=no')|">选择图书</button>
							</div>
							<div class="form-group row">
								<table class="table col-lg-12" style="border: 1px solid #cccfc9;">
									<thead>
										<tr class="table-secondary">
											<th scope="col" width="60%">书名</th>
											<th scope="col" width="40%">数量</th>
											<th scope="col" width="10%">操作</th>
										</tr>
									</thead>
									<tbody id="bookDatas">
										<tr>
											<td>疯狂Spring Cloud微服务架构实战</td>
											<td>
												<input type="text" class="col-sm-12 form-control">
												<input type="hidden" />
											</td>
											<td><input type="button" value="删除" class="btn btn-primary" /></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="form-group row">
								<div class="col-sm-5"></div>
								<div class="col-sm-2">
									<input type="hidden" id="itemJson" name="itemJson" />
									<button type="button" class="btn btn-primary" onclick="submitForm()"
										th:hidden="${readonly}">保 存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="height: 20px;"></div>
		<div class="row">
			<div class="col-lg-12" style="text-align: center;">
				Copyright © 2017-2018 Angus Young All rights reserved.
			</div>
		</div>
		<div class="row" style="height: 20px;"></div>
	</div>


</body>

</html>