<!doctype html>
<html lang="en">

<head th:replace="~{common/header}">
</head>

<body>

	<div class="container">
		<div class="row" style="height: 30px;"></div>
		<div class="row" th:replace="~{common/banner}">
		</div>
		<div class="row" style="height: 20px;"></div>
		<div class="row" th:replace="~{common/nav::nav('store')}">
		</div>
		<div class="row" style="height: 10px;"></div>
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<table class="table col-lg-10" style="border: 1px solid #cccfc9;">
					<thead>
						<tr class="table-secondary">
							<th scope="col" width="10%">选择</th>
							<th scope="col" width="40%">书名</th>
							<th scope="col" width="20%">入库数量</th>
							<th scope="col" width="30%">时间</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="data : ${datas.content}" th:object="${data}">
							<th scope="row"><input type="checkbox" /></th>
							<td><a target="_blank" th:text="*{bookNames}" th:href="@{/store/view/} + *{id}">书名</a></td>
							<td th:text="*{amount}">库存</td>
							<td th:text="*{createTime}">时间</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-1"><button type="button" class="btn btn-primary"
					th:onclick="|document.location.href='@{/store/add}'|">添加</button></div>
			<nav class="col-lg-1" th:replace="~{common/page::page('/store/list')}">
			</nav>
		</div>
		<div class="row" style="height: 20px;"></div>
		<div class="row">
			<div class="col-lg-12" style="text-align: center;">
				Copyright © 2017-2018 Angus Young All rights reserved.
			</div>
		</div>
		<div class="row" style="height: 20px;"></div>
	</div>




</body>

</html>